.navbar {
    background-color: #5f7399;
}

.brand {
    font-size: 28px;
    font-weight: bold;
}

.navbar-nav a {
    color: #5f7399;
}

.auth a {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
}
